<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Learning Vue</title>
</head>
<body>
    <h1>hello, Vue!</h1>

<!-- Conditional Rendering -->

    <div id="app">
        <!---- What if we want to pass in a dynamic value for the v-if directive? ---->
        <!---- We changed the "true/false" value with a dynamic for v-if to evaluate if its true or false ---->
        
        <div v-if="showBooks">
            <p>{{ title }} - {{ author }} - {{ age }}</p>
        </div>
        <!---- In the @click we reference the method toggleShowBooks ---->
        <!-- then we need to create that function in the methods property inside the app.js file -->
        <!--- we want to toggle the span (Hide Books) into show books-->
        <!-- We want to show Hide Books if the value of showBooks is currently true because then we want to hide them-->
         <!--Instead of double v-if we can use v-else to --->
        <button @click="toggleShowBooks">
            <span v-if="showBooks">Hide Books</span>  <!--- OR v-if="showBooks == false"-->
            <span v-else>Show Books</span>
        </button>

        <!--- v-show-->
        <!---The difference between v-if and v-show is that when we use v-if its takes it out of the DOM completely when this is false -->
        <!----> When we use v-show it just uses the CSS display property to insert the element when it is true and hides it when it is false -->
        <div v-show="showBooks">currently showing books</div>

    </div>

    <script src="app.js"></script> 
</body>
</html>